In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("data/conjunto_de_treinamento.csv")
df_test = pd.read_csv("data/conjunto_de_teste.csv")
print(list(df_train.columns))
df_train.head()

['Id', 'tipo', 'bairro', 'tipo_vendedor', 'quartos', 'suites', 'vagas', 'area_util', 'area_extra', 'diferenciais', 'churrasqueira', 'estacionamento', 'piscina', 'playground', 'quadra', 's_festas', 's_jogos', 's_ginastica', 'sauna', 'vista_mar', 'preco']

,Id,tipo,bairro,tipo_vendedor,quartos,suites,vagas,area_util,area_extra,diferenciais,...,estacionamento,piscina,playground,quadra,s_festas,s_jogos,s_ginastica,sauna,vista_mar,preco
0,2000,Casa,Imbiribeira,Imobiliaria,3,3,5,223,167,piscina e copa,...,0,1,0,0,0,0,0,0,0,1000000.0
1,2001,Apartamento,Casa Amarela,Imobiliaria,4,4,2,157,0,piscina e churrasqueira,...,0,1,0,0,0,0,0,0,0,680000.0
2,2002,Apartamento,Encruzilhada,Imobiliaria,3,1,0,53,0,nenhum,...,0,0,0,0,0,0,0,0,0,450000.0
3,2003,Apartamento,Boa Viagem,Imobiliaria,4,3,2,149,0,piscina e churrasqueira,...,0,1,0,0,0,0,0,0,0,1080000.0
4,2004,Apartamento,Rosarinho,Imobiliaria,2,1,1,54,0,piscina e churrasqueira,...,0,1,0,0,0,0,0,0,0,350000.0

In [3]:
tipos = list(set(df_train["tipo"].unique()).union(set(df_test["tipo"].unique())))
bairros = list(set(df_train["bairro"].unique()).union(set(df_test["bairro"].unique())))
tipos_bairros = tipos + bairros

In [ ]:
c = "tipo_vendedor"
print("Train:")
print(df_train[c].value_counts())
print("-"*20,"\nTest:")
df_test[c].value_counts()

In [ ]:
for column in df_train.columns:
    if column == "preco": continue
    print(column)
    print("NaN:", (np.nan in list(df_train[column].unique()) or np.nan in list(df_test[column].unique())))
    try:
        print("Same values:", (sorted(list(df_train[column].unique()))) == sorted(list(df_test[column].unique())))
        print("Diff:", [i for i in list(df_test[column].unique()) if (i not in (list(df_train[column].unique())) and column != "Id")])
    except: pass
    print(df_train[column].value_counts())
    print("\n\n\n\n")

In [ ]:
# print("""Remover:
# 'Id', 'diferenciais'

# 0/1:
# 'tipo_vendedor'

# Scaler:
# 'quartos', 'suites', 'vagas', 'area_util', 'area_extra', ('preco' = y)

# OneHotEncoder:
# 'tipo', 'bairro'

# OK:
# 'churrasqueira', 'estacionamento', 'piscina', 'playground', 'quadra', 's_festas', 's_jogos', 's_ginastica', 'sauna', 'vista_mar'""")

In [ ]:
tipos_bairros + ["preco"]

In [4]:
def treat_df(df, filename):
    selected_columns = tipos_bairros + ["churrasqueira", "estacionamento", "piscina", "playground", "quadra", "s_festas", "s_jogos", "s_ginastica", "sauna", "vista_mar", "quartos", "suites", "vagas", "area_util", "area_extra"]
    try:
        df = df[["tipo", "bairro", "churrasqueira", "estacionamento", "piscina", "playground", "quadra", "s_festas", "s_jogos", "s_ginastica", "sauna", "vista_mar", "quartos", "suites", "vagas", "area_util", "area_extra", "preco"]]
    except:
        df = df[["tipo", "bairro", "churrasqueira", "estacionamento", "piscina", "playground", "quadra", "s_festas", "s_jogos", "s_ginastica", "sauna", "vista_mar", "quartos", "suites", "vagas", "area_util", "area_extra"]]
    for tipo in tipos:
        df[tipo] = [1 if i == tipo else 0 for i in list(df["tipo"])]
    for bairro in bairros:
        df[bairro] = [1 if i == bairro else 0 for i in list(df["bairro"])]
    # df["tipo_vendedor"] = df["tipo_vendedor"].replace({"Imobiliaria": 1, "Pessoa Fisica": 0})
    df["area_extra"] = df["area_extra"].apply(lambda value: 1 if value != 0 else 0)
    df["vagas"] = df["vagas"].apply(lambda value: 5 if value > 4 else value)
    df["suites"] = df["suites"].apply(lambda value: 5 if value > 4 else value)
    df["quartos"] = df["quartos"].apply(lambda value: 5 if value > 4 else value)
    try:
        df = df[selected_columns + ["preco"]]
    except:
        df = df[selected_columns]
    df.to_csv(f"data/{filename}.csv", index=False)
    return df

In [5]:
treat_df(df_train, "train")

<ipython-input-4-da040c798580>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[tipo] = [1 if i == tipo else 0 for i in list(df["tipo"])]

,Casa,Loft,Quitinete,Apartamento,Torre,Espinheiro,Ponto de Parada,Estancia,Fundao,Macaxeira,...,s_jogos,s_ginastica,sauna,vista_mar,quartos,suites,vagas,area_util,area_extra,preco
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,3,5,223,1,1000000.0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,4,4,2,157,0,680000.0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,3,1,0,53,0,450000.0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,4,3,2,149,0,1080000.0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,2,1,1,54,0,350000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4678,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,4,4,3,170,0,1200000.0
4679,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,2,0,1,82,0,258000.0
4680,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,3,1,1,75,0,252000.0
4681,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,3,2,3,136,0,780000.0
4682,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,3,1,2,84,0,577035.0

In [6]:
treat_df(df_test, "test")

<ipython-input-4-da040c798580>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[tipo] = [1 if i == tipo else 0 for i in list(df["tipo"])]

,Casa,Loft,Quitinete,Apartamento,Torre,Espinheiro,Ponto de Parada,Estancia,Fundao,Macaxeira,...,s_festas,s_jogos,s_ginastica,sauna,vista_mar,quartos,suites,vagas,area_util,area_extra
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,4,4,3,182,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,2,0,1,85,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,3,1,2,115,1
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,3,0,1,92,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,3,1,1,65,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,2,1,2,100,0
1996,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,3,1,1,90,0
1997,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,3,1,1,73,0
1998,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,1,4,3,2,112,1
1999,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,2,1,1,51,0